* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 25px;
}

.question-and-score {
    margin-top: 10px;
    font-family: "Arial Black", Gadget, sans-serif;
    color: #BF2121;
}


body {
    font-family: 'Metrophobic', sans-serif;
    background-color: black;
    color: red;
    background: url(Images/background.jpg) fixed;

}

fieldset {
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    border-color: rgba(112, 21, 21, 0.89);
    background: black;
    padding: 15px;
}

button {
    padding: 20px;
    border-color: white;
    border-radius: 5px;
    background-color: red;
    font-size: 18px;
    margin-top: 20px;
    float: right;
}

legend {
    margin-bottom: 10px;
}

.js-options {
    margin-left: 20px;;
}

.options span {
    display:block;
    border-radius:5px;
}

.right-answer {
    background:ivory;
    padding: 10px 20px;
    margin: 5px 20px;
    border:2px solid greenyellow;
}
   
.wrong-answer {
     background:ivory;
     padding: 10px;
     margin: 5px 20px;
     border:2px solid #fe0000;
 }


@media only screen and (min-width: 320px) {
    .logo{
        width: 45%;
        height: 64%;
    }

    .box {
        width: 90%;
        height: 90%;
    }

    fieldset {
        font-size: 40px;
    }

    .button {
        margin-top: 0.5em;
        font-size: 2em;
        width: 8em;
        height: 2.5em;
    }

    .header{
        font-size: 1em;
    }

}

@media only screen and (min-width: 550px) {
    .logo {
        width: 45%;
        height: 45%;
    }

    .box {
        width: 85%;
        height: 98%;
    }

    fieldset {
        font-size: 30px;
    }

    .button {
        margin-top: 1em;
        font-size: 3em;
        width: 10em;
        height: 2.5em;
    }

}

@media only screen and (min-width: 1000px) {  
    .logo {
        height: 140px;
        width: 350px;
    }

    .box {
        width: 85%;
        height: 95%;
    }

    .button {
        margin-top: 1em;
        margin-bottom: 1em;
        width: 12em;
        font-size: 3em;
    }

    fieldset {
        font-size: 20px;
    }

}