* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    text-align: center;
    margin-top: 10%;
    margin-bottom: 25px;
}


body {
    font-family: 'Metrophobic', sans-serif;
    background-color: black;
    color: red;
    background: url(Images/background.jpg) fixed;

}

fieldset {
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 5px;
    border-color: rgba(112, 21, 21, 0.89);
    background: black;
    font-size: 20px;
    padding: 15px;
}

button {
    padding: 20px;
    border-color: white;
    border-radius: 5px;
    background-color: red;
    font-size: 18px;
    margin-top: 20px;
    float: right;
}

legend {
    margin-bottom: 10px;
}

.js-options {
    /* text-align: left; */
    margin-left: 20px;;
}

.options span {
    display:block;
    border-radius:5px;
}

.right-answer {
    background:ivory;
    padding: 10px 20px;
    margin: 5px 20px;
    border:2px solid greenyellow;
}
   
.wrong-answer {
     background:ivory;
     padding: 10px;
     margin: 5px 20px;
     border:2px solid #fe0000;
 }


@media only screen and (min-width: 320px) {
  .logo{
    width: 45%;
    height: 64%;
  }

  .box {
    width: 90%;
    height: 90%;
  }

  .images {
    width: 85%;
  }

  .button {
    margin-top: 0.5em;
    font-size: 1em;
    width: 8em;
    height: 2.5em;
  }

  h1,
  legend {
    font-size: 1em;
  }

  .header li {
    font-size: 1em;
  }

}

@media only screen and (min-width: 450px) {
    .logo {
        width: 45%;
        height: 45%;
    }

    .box {
    width: 85%;
    height: 98%;
  }

  .button {
    margin-top: 1em;
    font-size: 1em;
    width: 10em;
    height: 2.5em;
  }

  h1,
  legend {
    font-size: 1em;
  }

}

@media only screen and (min-width: 800px) {  
    .logo {
        height: 140px;
        width: 350px;
    }


  .box {
    width: 85%;
    height: 95%;
  }

  h1,
  legend {
    font-size: 1.3em;
  }


  .button {
    margin-top: 1em;
    margin-bottom: 1em;
    width: 12em;
    font-size: 1.2em;
  }
}